*,
*::after,
*::before {
	margin: 0;
	padding: 0;
}

.sidebar {
	display: flex;
	flex: 0.5;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	/* align-items: center; */
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(
		to right bottom,
		var(--primary-color),
		#3d9bd4
	);
}

.sidebar__text {
	margin: 7rem;
	/* margin-bottom: 20px; */
}

.sidebar__liner {
	display: flex;
	margin-bottom: 15px;
	color: whitesmoke;
	font-weight: 600;
	/* font-size: 24; */
}

.sidebar__linerHead {
	margin-left: 15px;
	font-weight: 600;
	font-size: 18px;
}
