.column {
	width: 100%;
	padding: 0;
}

.input-field {
	width: 400px;
	margin-bottom: 15px;
}

.signup {
	display: flex;
	max-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.signup__head {
	font-size: 40px;
	margin-bottom: 25px;
	margin-top: 10px;
}

.signup__profilePicLabel {
	color: grey;
	font-size: 14px;
}

.signup__bottomOption {
	margin-top: 18px;
	margin-left: 170px;
}

.signup__IconLabel > .MuiSvgIcon-root {
	margin-left: 10px;
	font-size: 38px;
	margin-top: 2px;
	color: var(--button-color);
	cursor: pointer;
}

.signup__profilePicLabel {
	margin-left: 10px;
}

.signup__btn {
	background-color: var(--button-color);
	border: none;
	width: 200px;
	height: 50px;
	color: white;
	font-weight: 900;
	margin-left: 20px;
	cursor: pointer;
	border-radius: 8px;
}

.signup__btn:hover {
	background-color: var(--hover-color);
}

.signup__btn:focus {
	outline: none;
}

.signup__bottomOption > a:-webkit-any-link {
	text-decoration: none;
	color: var(--button-color);
}

.signup__bottomOption > a:-webkit-any-link:hover {
	text-decoration: none;
	color: var(--hover-color);
}

.signup__bottomOption > a:-webkit-any-link:focus {
	text-decoration: none;
	color: var(--hover-color);
}
