.image-upload > input {
	display: none;
}

.image-upload img {
	width: 80px;
	cursor: pointer;
	padding-right: 70px;
}

.createTweet {
	padding-bottom: 10px;
	padding-right: 10px;
	border-bottom: 8px solid var(--grey-color);
}

.createTweet > form {
	display: flex;
	flex-direction: column;
}

.createTweet__input {
	padding: 10px;
	display: flex;
}

.createTweet__input > input {
	flex: 1;
	margin-left: 10px;
	margin-top: -10px;
	border-bottom: 1px solid var(--grey-color) !important;
	font-size: 18px;
	border: none;
	outline: none;
}

.avatar {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-left: 10px;
}

.createTweet__tweetButton {
	background-color: var(--button-color);
	border: none;
	width: 80px;
	height: 40px;
	color: white;
	font-weight: 900;
	margin-left: auto;
	cursor: pointer;
	border-radius: 8px;
	margin-top: -36px;
	margin-right: 19px;
}

.createTweet__tweetButton:hover {
	background-color: var(--hover-color);
	border-color: var(--hover-color);
}
.createTweet__bottomLine {
	display: flex;
	flex-direction: column;
	width: inherit;
}
.createTweet__IconLabel > .MuiSvgIcon-root {
	margin-left: 80px;
	font-size: 30px;
	margin-top: 2px;
	color: var(--button-color);
	cursor: pointer;
}

.createTweet__IconLabel > .MuiSvgIcon-root:hover {
	color: var(--hover-color);
}

/* .createTweet__uploadImage {
	padding-left: 80px;
	font-size: 30px;
	margin-top: 2px;
	color: blue;
	cursor: pointer;
} */

/* .createTweet__uploadImage {
	margin-left: 80px;
	font-size: 30px;
	margin-top: 2px;
	color: var(--button-color);
	cursor: pointer;
} */
