.navbarOption {
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
}

.navbarOption:hover {
	background-color: #e8f5fe;
	color: var(--primary-color);
	transition: color 100ms ease-out;
}

.navbarOption > .MuiSvgIcon-root {
	padding: 20px; /*not working same always */
	/* margin: 20px; */
}

.navbarOption > h2 {
	font-weight: 800;
	font-size: 20px;
	margin-right: 20px;
}

.navbarLogout {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-top: 280px;
	background-color: var(--button-color);
	border: none;
	width: 200px;
	height: 50px;
	color: white;
	font-weight: 900;
	margin-left: 20px;
	cursor: pointer;
	border-radius: 8px;
}

.navbarLogout > .MuiSvgIcon-root {
	padding: 20px;
}

.navbarLogout > h2 {
	font-weight: 800;
	font-size: 20px;
	margin-right: 20px;
}

.navbarLogout:hover {
	background-color: var(--hover-color);
	transition: color 100ms ease-out;
}

.navbarLogout:focus {
	outline: none;
}
