.navbar {
	border-right: 1px solid var(--grey-color);
	flex: 0.2;
	min-width: 250px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
}

a:-webkit-any-link {
	text-decoration: none;
	color: inherit;
}

a:-webkit-any-link:hover {
	text-decoration: none;
	color: inherit;
}

a:-webkit-any-link:focus {
	text-decoration: none;
	color: inherit;
}
