body {
	/* --primary-color: #50b7f5; */
	--primary-color: #1da1f2;
	--grey-color: #e6ecf0;
	--button-color: #1da1f2;
	--hover-color: #1995e0;
}

.app {
	display: flex;
	height: 100vh;
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}
