.search {
	width: 200px;
	/* height: 70px; */
	display: flex;
	justify-content: space-around;
	margin-top: 28px;
	padding-left: 50px;
	/* flex-direction: column; */
}

.header {
	width: 500px;
	/* height: 70px; */
	display: flex;
	/* justify-content: center; */
	align-content: center;
}

